snippet main "Initialize of main" b
package main

import "fmt"

func main() {
	$1
}
endsnippet

snippet println "shortcut for fmt.Println()" b
fmt.Println($1)
endsnippet

snippet printf "shortcut for fmt.Printf()" b
fmt.Printf($1)
endsnippet
