snippet cl "console.log" 
console.log($1);
endsnippet

snippet rqr "require" b
const ${1} = require('$1');
endsnippet

snippet rdef "react init" b
import React from "react";

const ${1} = () => {
	return $2
};

export default $1;
endsnippet
